---
dependency:
  name: galaxy

driver:
  name: docker

lint:
  name: yamllint

platforms:
  - name: ansible_role_antigen_debian_max
    image: debian:9

provisioner:
  name: ansible
  playbooks:
    converge: ../default/playbook.yml
  lint:
    name: ansible-lint

scenario:
  name: debian_max

verifier:
  name: testinfra
  directory: ../default/tests/
  lint:
    name: flake8
