---
dependency:
  name: galaxy

driver:
  name: docker

lint:
  name: yamllint

platforms:
  - name: ansible_role_antigen_opensuse
    image: opensuse/leap:15.0

provisioner:
  name: ansible
  playbooks:
    converge: ../default/playbook.yml
  lint:
    name: ansible-lint

scenario:
  name: opensuse

verifier:
  name: testinfra
  directory: ../default/tests/
  lint:
    name: flake8
