********************************************************************************
*     Welcome to {{ansible_hostname}}! The Hydra HomeLab Server.               *
*                                                                              *
* This system is for the use of authorized users only.  Usage of               *
* this system may be monitored and recorded by system personnel.               *
*                                                                              *
********************************************************************************

