---
dependency:
  name: galaxy

driver:
  name: docker

lint:
  name: yamllint

platforms:
  - name: ansible_role_antigen_ubuntu_max
    image: ubuntu:18.04

provisioner:
  name: ansible
  playbooks:
    converge: ../default/playbook.yml
  lint:
    name: ansible-lint

scenario:
  name: ubuntu_max

verifier:
  name: testinfra
  directory: ../default/tests/
  lint:
    name: flake8
