{{ ansible_managed | comment }}

source $HOME/.antigen/antigen.zsh

for i in ~/.antigen-etc/use.d/*.zsh; do
    if [ -r $i ]; then
        source $i
    fi
done
unset i

for i in ~/.antigen-etc/bundle.d/*.zsh; do
    if [ -r $i ]; then
        source $i
    fi
done
unset i

source ~/.antigen-etc/theme.zsh

antigen apply
