pls.mrkaran.dev {
    reverse_proxy http://plausible:8000
    tls {
	    dns cloudflare {{caddy_cloudflare_api_token}}
    }
    rewrite /pls.js /js/plausible.js
}

doggo.mrkaran.dev {
    reverse_proxy http://doggo:8080
    tls {
	    dns cloudflare {{caddy_cloudflare_api_token}}
    }
}
