adguard.mrkaran.dev {
    reverse_proxy http://adguard:3000
    tls {
	    dns cloudflare {{caddy_cloudflare_api_token}}
    }
}

bookmarks.mrkaran.dev {
    reverse_proxy http://linkding:9090
    tls {
	    dns cloudflare {{caddy_cloudflare_api_token}}
    }
}

feed.mrkaran.dev {
    reverse_proxy http://miniflux:8080
    tls {
	    dns cloudflare {{caddy_cloudflare_api_token}}
    }
}

grafana.mrkaran.dev {
    reverse_proxy http://grafana:3000
    tls {
	    dns cloudflare {{caddy_cloudflare_api_token}}
    }
}

sync.mrkaran.dev {
    reverse_proxy http://syncthing:8384
    tls {
	    dns cloudflare {{caddy_cloudflare_api_token}}
    }
}
