{{ ansible_managed | comment }}

{% if antigen_theme not in (None, omit, {}) -%}
    {%- if antigen_theme.env is defined and antigen_theme.env not in (None, '', omit, {}) -%}
        {%- for key, value in antigen_theme.env.items() -%}
            {{ key }}={{ value }}{{ "\n" }}
        {%- endfor -%}
        {{ "\n" }}
    {%- endif -%}
    antigen theme {{ (antigen_theme.url | default(antigen_theme.name)) | quote }}
{%- endif %}
