#jinja2: lstrip_blocks:"True",trim_blocks:"True"
[Interface]
# {{ inventory_hostname }}
Address = {{hostvars[inventory_hostname].wireguard_address}}
PrivateKey = {{private_key}}
ListenPort = {{wireguard_port}}
{% if hostvars[inventory_hostname].wireguard_dns is defined %}
DNS = {{hostvars[inventory_hostname].wireguard_dns}}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_fwmark is defined %}
FwMark = {{hostvars[inventory_hostname].wireguard_fwmark}}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_mtu is defined %}
MTU = {{hostvars[inventory_hostname].wireguard_mtu}}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_table is defined %}
Table = {{hostvars[inventory_hostname].wireguard_table}}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_preup is defined %}
{% for wg_preup in hostvars[inventory_hostname].wireguard_preup %}
PreUp = {{ wg_preup }}
{% endfor %}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_predown is defined %}
{% for wg_predown in hostvars[inventory_hostname].wireguard_predown %}
PreDown = {{ wg_predown }}
{% endfor %}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_postup is defined %}
{% for wg_postup in hostvars[inventory_hostname].wireguard_postup %}
PostUp = {{ wg_postup }}
{% endfor %}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_postdown is defined %}
{% for wg_postdown in hostvars[inventory_hostname].wireguard_postdown %}
PostDown = {{ wg_postdown }}
{% endfor %}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_save_config is defined %}
SaveConfig = true
{% endif %}
{% for peer in hostvars[inventory_hostname].peers %}  
[Peer]
# {{ peer }}
PublicKey = {{ hostvars[inventory_hostname].peers[peer].public_key }}
{% if hostvars[inventory_hostname].peers[peer].wireguard_allowed_ips is defined %}
AllowedIPs = {{hostvars[inventory_hostname].peers[peer].wireguard_allowed_ips}}
{% else %}
AllowedIPs = {{hostvars[inventory_hostname].peers[peer].wireguard_ip}}/32
{% endif %}
{% if hostvars[inventory_hostname].peers[peer].wireguard_persistent_keepalive is defined %}
PersistentKeepalive = {{hostvars[inventory_hostname].peers[peer].wireguard_persistent_keepalive}}
{% endif %}
{% if hostvars[inventory_hostname].peers[peer].wireguard_port is defined and hostvars[inventory_hostname].peers[peer].wireguard_port is number %}
  {% if hostvars[inventory_hostname].peers[peer].wireguard_endpoint is defined and hostvars[inventory_hostname].peers[peer].wireguard_endpoint != "" %}
Endpoint = {{hostvars[inventory_hostname].peers[peer].wireguard_endpoint}}:{{hostvars[inventory_hostname].peers[peer].wireguard_port}}
  {% else %}
Endpoint = {{host}}:{{hostvars[inventory_hostname].peers[peer].wireguard_port}}
  {% endif %}
{% elif hostvars[inventory_hostname].peers[peer].wireguard_endpoint is defined and hostvars[inventory_hostname].peers[peer].wireguard_endpoint != "" %}
Endpoint = {{hostvars[inventory_hostname].peers[peer].wireguard_endpoint}}:{{wireguard_port}}
{% elif hostvars[inventory_hostname].peers[peer].wireguard_endpoint == "" %}
# No endpoint defined for this peer
{% else %}
Endpoint = {{peer}}:{{wireguard_port}}
{% endif %}
{% endfor %}