# EditorConfig: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Defaults for all editor files
[*]
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# YAML is fussy about indenting and charset
[*.yml]
indent_style = space
indent_size = 2
continuation_indent_size = unset
charset = utf-8

# Markdown is fussy about indenting
[*.md]
indent_style = space
indent_size = 4
