version: "3.8"

services:
  caddy:
    image: mrkaran/caddy:{{caddy_image_tag}}
    restart: always
    volumes:
      - /data/caddy:/data
      - $PWD/Caddyfile:/etc/caddy/Caddyfile
    ports:
      - "80:80"
      - "443:443"

networks:
  default:
    external:
      name: {{docker_external_network}}