vpn:
  hosts:
    alphard:
      ansible_user: root
      ansible_host: alphard
      wireguard_address: 10.9.0.1/32
      wireguard_allowed_ips: "10.9.0.1/32, 192.168.2.0/24"
      wireguard_endpoint: multi.exemple.com
      peers:
        laptop-personal:
          public_key: lol
          wireguard_address: 10.9.0.2/32
          wireguard_allowed_ips: "10.9.0.2/32, 192.168.3.0/24"
          wireguard_persistent_keepalive: 15
          wireguard_endpoint: nated.exemple.com
